@use "variables" as *;

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Base styles
html {
  font-size: $font-size-base;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: var(--foreground-color);
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex: 1 1;
}

// Lists
ul,
ol {
  margin-bottom: $spacing-unit * 2;
  padding-left: $spacing-unit * 3;
}

a {
  color: var(--foreground-color);
  text-decoration: none;
}

// Images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
