// ==========================================================================
// TEXT VARIABLES
// ==========================================================================

// Font Sizes
$font-sizes: (
  "2xs": 0.5rem,
  "xs": 0.75rem,
  "sm": 0.875rem,
  "md": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
  "6xl": 3.75rem,
);

// Generate utility classes for text sizes
@each $size, $value in $font-sizes {
  .fs-#{$size} {
    font-size: $value;
  }
}